*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: map-get($colors, 'main-bg-color');
  color: map-get($colors, 'main-color');
}

.list {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
}

.section {
  padding: 94px 0;
}

%base-link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: map-get($colors, 'black-color');
  transition: color 250ms $time-function;
}